.onboardingContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}
