.onboardingContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh; /* other 20vh is in content container */

    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

.actionButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actionButtons > button {
    margin-bottom: 20px;
}
