.searchItem {
    display: flex;
}

.searchItem img {
    padding: 0 20px;
    background-color: #ffffff;
}

.searchInput {
    border: none;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
}
