.profileContainer {
    background-color: #e5e5e5;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    box-shadow: 1px 1px 2px grey;
}

.purpleColor {
    filter: invert(17%) sepia(82%) saturate(5947%) hue-rotate(266deg) brightness(93%) contrast(110%);
}

.greenFilter {
    filter: invert(64%) sepia(88%) saturate(1520%) hue-rotate(111deg) brightness(106%) contrast(98%);
}

.redFilter {
    filter: invert(47%) sepia(95%) saturate(3367%) hue-rotate(325deg) brightness(96%) contrast(101%);
}

.back {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.back img {
    margin-right: 10px;
}
