.profileDetailSection {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    background-color: #ffffff;
}

.profileDetailSection > div {
    padding: 10px 0;
}

.topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topRowLeft {
    display: flex;
    align-items: center;
}

.topRowLeft img {
    margin-right: 10px;
}

/* name and nickname div */
.topRowLeft > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.topRowLeft .name {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #363a3f;
}

.bottomRow {
    width: 100%;
}

.bottomRow button {
    width: 100%;
}

.back {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background: #f4f4f5;
}

.back img {
    margin-right: 10px;
}

.contactFieldsContainer {
    background: #f4f4f5;
    padding: 10px;
}

.booleanContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #f4f4f5;
    margin-top: 10px;
}

.booleanContainer .booleanItem {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.remove {
    display: flex;
    justify-content: center;
    padding: 20px;

    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #363a3f;
}
