.displayFieldContainer {
    background-color: #f4f4f5;
    padding: 15px;
    border-radius: 10px;

    border: 1px solid #ccc;
    /* box-shadow: 1px 1px 2px grey; */

    margin-bottom: 10px;
}

.displayTitle {
    display: flex;
    justify-content: space-between;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #363a3f;
    margin-bottom: 5px;
}

.displayData {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.displayData > div:first-child {
    width: 90%;
}

.divider {
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin: 15px 0;
}

.purpleColor {
    filter: invert(17%) sepia(82%) saturate(5947%) hue-rotate(266deg) brightness(93%) contrast(110%);
}

.greenFilter {
    filter: invert(64%) sepia(88%) saturate(1520%) hue-rotate(111deg) brightness(106%) contrast(98%);
}
