.myContactItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.leftSection {
    display: flex;
}

.textSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.textSection .name {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #363a3f;
}

.greenIconSection img {
    padding: 2px;
}
