.myContactItem {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: flex-start;
    margin-top: 10px;
    background-color: #f4f4f5;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px grey;
}

.chainRow {
    display: flex;
    margin-top: 5px;
}

.space {
    margin-right: 5px;
}

.greenFilter {
    filter: invert(64%) sepia(88%) saturate(1520%) hue-rotate(111deg) brightness(106%) contrast(98%);
}

.redFilter {
    filter: invert(47%) sepia(95%) saturate(3367%) hue-rotate(325deg) brightness(96%) contrast(101%);
}
