.newContactListItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.newContactListItemDetail {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.newContactListItemDetail div {
    margin-left: 10px;
}
