.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background: #16181c;
    /* color: rgba(255, 255, 255, 0.95); */
}

.footer a {
    color: rgba(255, 255, 255, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    height: 100%;
}

.footer a div {
    margin-top: 5px;
}

.menuItem {
    height: 100%;
}
